<h3> Detalhes do Produto </h3>
<div>
  <div>
    <label> <b> Nome: </b></label> {{produto.nome}}
  </div>
  <div>
    <label> <b> Ativo: </b></label> {{produto.ativo}}
  </div>
  <div>
    <label> <b> SKU: </b></label> {{produto.sku}}
  </div>
  <div>
    <label> <b> Categoria: </b></label> {{produto.categoria}}
  </div>
  <div>
    <label> <b> Valor de Custo: </b></label> {{produto.valorCusto}}
  </div>
  <div>
    <label> <b> ICMS: </b></label> {{produto.icms}}
  </div>
  <div>
    <label> <b> Valor de Venda: </b></label> {{produto.valorVenda}}
  </div>
  <div>
    <label> <b> Imagem: </b></label> {{produto.imagem}}
  </div>
  <div>
    <label> <b> Data de Cadastro: </b></label> {{produto.dataCadastro}}
  </div>
  <div>
    <label> <b> Quantidade no Estoque: </b></label> {{produto.quantidadeEstoque}}
  </div>
</div>
